<h1>My Tasks</h1>


  <% @tasks.each do |task|%>
  <div class="card">
    <div>
    <%= link_to task_path(task) do %>
    <li> <%= task.title %>-<%= task.completed %> </li>
    </div>
    <% end %>
    <%= link_to "EDIT", edit_task_path(task) %>
    <%= link_to "DELETE", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
    <% end %>



<%= link_to "Add a new task", tasks_new_path %>
